.tabs {
  display: flex;
}

.tabList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.selected {
  position: relative;
  bottom: -1px;
  border-bottom: 2px solid #fd8c73;
  font-weight: 500;
  letter-spacing: -0.25px;
}

.listBox {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}
.listBox:hover {
  background-color: #eaedf1;
}

.icon {
  margin-right: 5px;
  font-size: 15px;
}
.icon svg {
  display: block;
}
.number {
  padding: 2px 5px;
  margin-left: 5px;
  background-color: #dee3e8;
  border-radius: 10px;
  font-size: 12px;
}
